body {
    background-color: black;
}

video {
    position: fixed;
    top: 0%;
    width: 100%;
    opacity: 0.2;
}

.container-md {
    max-width: 1200px;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    color: white;
}

.bg {
    background: linear-gradient(#000000, #9198e500);
}

.modal-content {
    background-color: black;
    background: linear-gradient(#441c1c, #000000);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.594);
}

.btn {
    font-size: 13px;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.center {
    padding: 10vh 0;
}

.footer {
    width: 100%;
    height: 5%;
    background: linear-gradient(#4b272700, #000000fe);
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .btn-outline-light {
    background: linear-gradient(#e6646446, #000000);
} */

.card {
    background-color: black;
    background: linear-gradient(#4b2727a9, #222daa00);
    color: #fff;
    --bs-card-border-color: none;
}

.footer-text {
    color: white;

}